.isod-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.isod-table thead {
    font-weight: bold;
}

.isod-table thead td {
    border-bottom: 2px solid black;
}

.isod-table td {
    border: 1px solid black;
}